.ipynb_checkpoints/Administrative-checkpoint.html
.ipynb_checkpoints/Administrative-checkpoint.ipynb
.ipynb_checkpoints/Assignment1-checkpoint.html
.ipynb_checkpoints/README-checkpoint.html
.ipynb_checkpoints/README-checkpoint.ipynb
.ipynb_checkpoints/multiplication-checkpoint.html
_sources/.ipynb_checkpoints/Administrative-checkpoint.ipynb.txt
_sources/.ipynb_checkpoints/README-checkpoint.ipynb.txt
.ipynb_checkpoints/Administrative-checkpoint.htmlbak
.ipynb_checkpoints/Assignment1-checkpoint.htmlbak
.ipynb_checkpoints/README-checkpoint.htmlbak
.ipynb_checkpoints/multiplication-checkpoint.htmlbak
